button
  border: none
  background: #333
  font-size: 24px
  color: rgb(255, 255, 255)
  font-weight: bold
  cursor: pointer
  border-radius: 50%
  outline: none
  user-select: none
  -webkit-tap-highlight-color: transparent

  &:active
    filter: brightness(150%)

  //&:hover
  //  filter: brightness(130%)

  &.function
    background: #a5a5a5

  &.operator
    background: #f1a33c

  &.num0
    grid-column: 1 / span 2
    border-radius: 57.5px

    &:hover
      background-color: rgb(228, 39, 15)


